<section>
  <form [formGroup]="userSignupForm" (ngSubmit)="signup()">
    <div class="input-container">
      <label for="name">First name</label>
      <input type="text" id="name" placeholder="Name" formControlName="name"/>
    </div>
    <div class="input-container">
      <label for="phone">Phone number</label>
      <input formControlName="phone" type="tel" id="phone" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"/>
    </div>
    <div class="input-container">
      <label for="email">Email address</label>
      <input formControlName="email" type="email" id="email" placeholder="xyz@example.com"/>
    </div>
    <div class="password-container">
      <div class="input-container">
        <label for="password">Password</label>
        <input formControlName="password" type="password" id="password" placeholder="•••••••••"/>
      </div>
      <div class="input-container">
        <label for="confirm_password">Confirm password</label>
        <input formControlName="confirm_password" type="password" id="confirm_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••"/>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>

</section>
