<section>
  <div class="heading border-color">
    <h2 class="title">{{ data.title }}</h2>
    <div (click)="close()" [innerHTML]="closeButton"></div>
  </div>
  <div class="container-body">
    <div class="form">
      <form method="post" [formGroup]="GroupForm">
        <div class="mb-4">
          <label
            for="default-input"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Group Name</label
          >
          <input type="text" formControlName="name" placeholder="Name" />
        </div>
        <div formArrayName="members">
          <small class="text-blue-500">
            This will be admin of the group which can't be change or remove!
          </small>
          <div *ngIf="data.form_value">
            <div *ngFor="let admin of data.form_value.admin">
              <input
                type="text"
                [value]="admin.user.email"
                readonly
                class="admin-email"
                disabled
              />
            </div>
          </div>
          <div *ngIf="!data.form_value">
            <input
              type="text"
              [value]="currentUser?.email"
              readonly
              class="admin-email"
              disabled
            />
          </div>
          <p>Enter Members emails to add in group</p>
          <div
            *ngFor="let member of members.controls; let i = index"
            [formGroupName]="i"
            class="members-email"
          >
            <!-- <label for="email-{{ i }}">Email {{ i + 1 }}</label> -->
            <input
              id="email-{{ i }}"
              formControlName="email"
              placeholder="Enter email of member"
              class="w-full"
            />
            <button type="button" (click)="removeEmail(i)">
              <div class="text-red-500" [innerHTML]="remove"></div>
            </button>
          </div>
        </div>
        <!-- Button to add a new email -->
        <button type="button" (click)="addEmail()" class="add-email-button">
          <div [innerHTML]="plusIcon"></div>
          Add Email
        </button>
      </form>
    </div>
  </div>
  <div class="action-button border-color">
    <button
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="createGroup()"
    >
      {{ data.primary_button_text }}
    </button>
    <button
      (click)="close()"
      type="button"
      class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    >
      Cancel
    </button>
  </div>
</section>
