<h1>Bank Accounts</h1>
<div class="table-section">
  <div>
    <table>
      <thead>
        <tr>
          <th scope="col">Account Holder Name</th>
          <th scope="col">Account Number</th>
          <th scope="col">Account Type</th>
          <th scope="col">IFSC Code</th>
          <th scope="col">Balance</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bankAccount of bankAccounts">
          <th scope="row">{{ bankAccount.account_holder_name }}</th>
          <td>{{ bankAccount.account_number }}</td>
          <td>{{ bankAccount.account_type | titlecase }}</td>
          <td>{{ bankAccount.ifsc_code }}</td>
          <td>
            {{ bankAccount.balance | currency : bankAccount.currency : true }}
          </td>
          <td>
            <button type="button" [routerLink]="['edit', bankAccount.uuid]">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br /><br />

<a routerLink="new">
  <button type="submit">Attach New Bank Account</button>
</a>
