<div>
  <h1 class="text-2xl font-bold mb-4">My Bank Accounts</h1>

  <app-spinner *ngIf="loading; else bankAccountsData"></app-spinner>
  <ng-template #bankAccountsData>
    <div
      *ngFor="let bankAccount of bankAccounts"
      class="bg-white shadow-md rounded-lg p-4 mb-4"
    >
      <div class="flex justify-between items-center">
        <div>
          <h2 class="text-lg font-semibold">
            {{ bankAccount.account_holder_name }}
          </h2>
          <p class="text-sm text-gray-600">
            Account No: {{ bankAccount.masked_account_number }}
          </p>
          <p class="text-sm text-gray-600">
            Account Type: {{ bankAccount.account_type | titlecase }}
          </p>
          <p class="text-sm text-gray-600">
            IFSC Code: {{ bankAccount.ifsc_code }}
          </p>
          <p class="text-sm text-gray-600">
            Balance:
            {{ bankAccount.balance | currency : bankAccount.currency : true }}
          </p>
        </div>

        <div class="space-x-2">
          <button
            *ngIf="!bankAccount.is_primary"
            class="bg-green-500 hover:bg-green-600 text-white py-1 px-3 rounded text-sm"
            (click)="setPrimary(bankAccount.uuid)"
          >
            Set Primary
          </button>

          <button class="edit-button" [routerLink]="['edit', bankAccount.uuid]">
            Edit
          </button>

          <button
            class="delete-button"
            (click)="deleteBankAccount(bankAccount.uuid)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>

    <div class="text-center mt-6">
      <button class="primary-button" [routerLink]="['new']">
        Attach New Bank Account
      </button>
    </div>
  </ng-template>
</div>
